/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Navbar CSS */

body {
          padding-top: 50px;
          position: relative;
          font-family: 'Lato', sans-serif;
          color: #fff;
      }
      
      pre {
          tab-size: 8;
      }

.nav-li {
    margin-left: 40px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*  Logo CSS */

.logo-jazz {
    font-family: 'Kaushan Script', cursive;
    font-size: 66px;
}

.logo-witney {
    font-size: 66px;
}


/*  image CSS */

.band-img {
    width: 250px;
    height: 250px;

}

/* Audio CSS */

.audio-wrap {
  text-align: center;
}

/* Welcome Row CSS */

.welcome-row-pic-index {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Jazz Background Two.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    color: white;
}

.welcome-title {
    font-size: 36px;
}

.welcome-text {
    margin-top: 8%;
    font-size: 22px;
    line-height: 40px;
}

/* Grid CSS */

.grid-background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../img/Jazz Background Seven.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: auto;
}

.small-webpage-fit {
    height: 1100px;
}

.coming-soon {
    text-align: center;
    font-size: 48px;
    padding-bottom: 20px;
}

.price {
    font-size: 18px;
    text-align: center; 
    font-weight: bold;
}

.opening {
    font-size: 16px;
    text-align: center; 
    font-weight: bold;
}

.grid-row {
    padding: 50px; 
}

.thumbnail-custom {
    min-width: 320px;
    min-height: 660px;

}

.band-name {
    text-align: center;
}

.link-name-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.link-name {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    vertical-align: middle;
}

.linkbox {
  min-height: 230px;
}

.band-details {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.band-button-wrap {
    position: absolute;
    left: 40%;
    margin-left: -50px;
    bottom: 30px;
}

.read-more {
    min-height: 100%;
    z-index: 1000;
    margin-bottom: 80px;
    position: relative;
}

.filler {
    width: 100%;
    height: 1px;
}

.filler50 {
    height: 50px;
    width: 100%;
}
      
@media screen and (max-width: 768px) {
  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:50px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
  .logo-jazz {
    font-family: 'Kaushan Script', cursive;
    font-size: 56px;
}

  .logo-witney {
      font-size: 56px;
  }

  .welcome-row-pic-index {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Jazz Background Two.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    color: white;
    padding: 50px;
  }

  .price {
    font-size: 16px;
    text-align: center; 
    font-weight: bold;
}

.opening {
    font-size: 14px;
    text-align: center; 
    font-weight: bold;
  }
}



/*  Link Footer CSS */

.links-bottom {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.border {
    color: #fff;
    border-style: solid;
    border-color: white;
    border-width: 0 0 0 1px;

}

.link-bottom {
    color: #fff;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 50%;
    margin-bottom: 30px;
}

.link-bottom:hover {
    color: #aaa;
    text-decoration: none;
}

.fixed-bottom-link {
    bottom: 0;
    text-align: left;
    position: fixed;
}

/* Google Maps CSS */

#map {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.venue-pic {
    border-radius: 50%;
    width: 100%;
    margin: 80px auto 0 auto; -webkit-box-reflect:below -1px
    -webkit-gradient(linear, left top, left bottom, from(transparent),
    color-stop(87%, transparent) , to(rgba(250, 250, 250, 0.7)));
    max-width: 500px;
    float: right;
}

.about-filler {
    margin-top: 80px;
}

.directions-main {
    font-size: 18px;
}

.directions {
    font-size: 16px;
}

.about{
    font-size: 18px;
    margin-top: 80px;
}

.contact {
    font-size: 18px;
}

.bottomfill-venue {
    margin-bottom: 20px;
}

.bottomfill {
    margin-bottom: 100px;
}

.about-link {
    text-decoration: underline;
}

.about-link:hover {
    color: white;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
